@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(43, 97, 105);
  font-family: 'Permanent Marker';
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
