body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  font-family: cursive;
}

.testimonialContainer {
  font-size: 1.5rem;
  width: 600px;
  height: 300px;
  background-color: slateblue;
  border-radius: 10px;
  box-shadow: 4px 8px 8px hsl(0, 0%, 0%, 0.3);
  padding: 20px;
  padding-top: 150px;
  margin: 10px;
  color: white;
  position: relative;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}

.username {
  font-style: italic;
}
