body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 80vh;
  align-items: center;
}

div {
  text-align: center;
  box-shadow: 0.25rem 0.25rem 1rem hsl(0, 0%, 0%, 0.5);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  width: 30rem;
  height: 22.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

input {
  width: 20rem;
  height: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

button {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: hsl(180, 72%, 40%);
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.1s;
}

button:hover {
  background-color: hsl(180, 72%, 35%);
}

button:active {
  background-color: hsl(180, 72%, 45%);
}

p {
  font-size: 2rem;
  margin: 2rem;
  font-weight: bolder;
}
