body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  min-height: 100vh;
  font-family: monospace;
  color: darkcyan;
}

h1 {
  font-size: 2rem;
}

.convertor {
  box-shadow: 4px 4px 8px hsl(0, 0%, 0%, 0.3);
  padding: 20px 40px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-container {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
}

.input {
  width: 250px;
  font-family: monospace;
  padding: 5px;
  float: right;
  outline: none;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-color: hsl(0, 0%, 100%, 0.8);
  font-size: 18px;
  color: rgb(0, 90, 90);
}
